@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,400italic,700);

// Color variables
// ===============

$primary: #566071;
$emphasize: #45AA9B;
$emphasize-light: lighten($emphasize, 30);
$paper: white;
$font-primary: black;
$font-secondary: #9c9c9c;

// Layout variables
// ================

$default-margin: 8px;

// Media queries
// =============

$desktop-sm: 993px;
$tablet: 768px;
$mobile-lg: 480px;
$mobile: 374px;

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile-lg {
  @media (max-width: #{$mobile-lg}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

// Base page stylings
// ==================

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  color: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
}

.paper {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
  background-color: $paper;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  @include desktop-sm {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  @include tablet {
    margin: 10px;
    padding: 25px;
  }

  @include mobile-lg {
    margin: 5px;
    padding: 25px 10px;
  }
}

// Type
// ====

h1, h2, p {
  margin: 0;
}

h1 {
  font-size: 6rem;
  line-height: 1;

  @include desktop-sm {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 3rem;

  @include mobile-lg {
    font-size: 2.5rem;
  }
}

.italic {
  font-style: italic; 
}

.bold {
  font-weight: 700;
}

.light {
  color: $font-secondary;
}

.label-small {
  font-size: 1.3rem;
}

.fa {
  color: $emphasize;
}

$link-animation: all 0.2s ease-in-out 0s;
$link-border-transform: scaleX(0);

a {
  color: inherit;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 3px;
  border-bottom: none;

  &:hover {
    color: $emphasize;
    text-decoration: none;
    -webkit-transition: $link-animation;
    transition: $link-animation;
  }

  &:after {
    content: "\f105";
    padding-left: 0.5rem;
    font-family: FontAwesome;
  }

  &:before {
    content: "";
    position: absolute;
    width: 96%;
    height: 1px;
    bottom: 0;
    left: 2%;
    background-color: $emphasize;
    visibility: hidden;
    -webkit-transform: $link-border-transform;
    transform: $link-border-transform;
    -webkit-transition: $link-animation;
    transition: $link-animation;
  }

  &:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

// Layout
// ======

.col-xxs-12 {
  @include mobile {
    width: 100%;
  }
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

.hidden-xs {
  @include mobile {
    display: none;
  }
}

.hidden-s {
  @include mobile-lg {
    display: none;
  }
}