.name {
  font-size: 6rem;
  line-height: 1;
}

.description {
  @extend .italic;
  font-size: 2rem;
}

.detail {
  width: 30%;
  vertical-align: top;
  color: $font-secondary;
  display: inline-block;
}

.detail-content {
  @extend .detail;
  width: 65%;
  padding-left: 10px;
  border-left: 1px solid $font-secondary;
}

// Separated items in resume
// =========================

.header-title {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $font-secondary;
}

.header-icon {
  @extend h2;
  margin-top: 8px;
}

.content {
  margin-top: $default-margin;
  padding: $default-margin * 2 0;
  position: relative;
}


// Timeline element
// ================
$timeline-width: 2px;

.timeline {
  padding-left: 15%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: $timeline-width;
    background-color: $primary;
  }

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: $timeline-width * 3;
    width: $timeline-width * 5;
    height: $timeline-width * 5;
    background-color: $primary;
    border-radius: 50%;
  }
}

