@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,400italic,700);

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}